TZ = 'America/Sao_Paulo'
NODE_ENV =  # Ambiente do projeto
DB_HOST =  # Local do banco de dados
DB_BASE =  # Base de dados
DB_USER =  # Usuário do banco de dados
DB_PASS =  # Senha do banco de dados
DB_DIALECT =  #Tipo de banco de dados